.important h1,
h2{
  text-align: center;
  font-family: sans-serif;
  color: grey;
}
.important img{
  border-style: solid 2px blue;
  width: 70%;
  margin-left: 15%;
}

.important p{
  text-align: center;
  font-family: cursive;
  color: pink;
}
